* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: "10px";
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #7bd7e2;
}

.header {
  font-size: 26px;
  font-weight: 800;
}